{% extends '/blog/index.html.twig' %}
{% block content %}
    <label>New or existing poll?
        <select id="new_existing" name="form_select" onchange="changeForm(this)">
            <option {# id="newpollbutton"#} value="0">New Poll</option>
            <option {# id="existingpollbutton"#} value="1">Existing Poll</option>
        </select>
    </label>
    <div id="newpoll" style="display: block;">
    {{ form_start(form) }}
    {{ form_row(form.question) }}
    <ul class="answers"
        data-index="{{ form.answers|length > 0 ? form.answers|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
        {% for answer in form.answers %}
            <li>{{ form_row(answer.text) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="answers">Add an answer</button>
    {{ form_end(form) }}
    </div>
<div id="existingpoll" style="display: none;">
    {{ form_start(choseform) }}
    {{ form_row(choseform.question) }}
    {{ form_end(choseform) }}
</div>
    {% for poll in polls %}
        <p>Poll</p>
        <form action="{{ path('admin_poll_delete', {'id': poll.id}) }}"
              method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('admin_poll_delete') }}"/>
            <button>DELETE</button>
        </form>
        <p>Question:<br> {{ poll.question }}</p>
        {% for answer in poll.answers %}
            <p>{{ answer }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function changeForm(select){
            if(select.value===0){
                document.getElementById('newpoll').style.display = "block";
                document.getElementById('existingpoll').style.display = "none";
            } else{
                document.getElementById('newpoll').style.display = "none";
                document.getElementById('existingpoll').style.display = "block";
            }
        }
        // $(document).ready(function(){
        //     // $('#newpoll').hide();
        //     $('#existingpoll').hide();
        //     $("#newpollbutton").click(function() {
        //         $('#newpoll').show();
        //         $('#existingpoll').hide();
        //         return false
        //     });
        //     $("#existingpollbutton").click(function() {
        //         $('#existingpoll').show();
        //         $('#newpoll').hide();
        //         return false
        //     });
        // });
        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete this tag';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addTagFormDeleteLink(item);
        };
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
        document
            .querySelectorAll('ul.tags li')
            .forEach((tag) => {
                addTagFormDeleteLink(tag)
            })
    </script>
{% endblock %}
