{% extends 'blog/index.html.twig' %}
{% block content %}
    {{ form_start(pollForm) }}
        {{ form_row(pollForm.question) }}
        <ul class="pollAnswers"
            data-index="{{ pollForm.pollAnswers|length > 0 ? pollForm.pollAnswers|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(pollForm.pollAnswers.vars.prototype)|e('html_attr') }}">
            {% for pollAnswers in pollForm.pollAnswers %}
                <li>{{ form_row(pollAnswer.answer) }}</li>
            {% endfor %}
        </ul>
    {{ form_errors(pollForm) }}
    {{ form_end(pollForm) }}
    <button type="button" class="add_item_link" data-collection-holder-class="pollAnswers">Add an answer</button>

    <script>
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };
    </script>
{% endblock %}
