{% extends 'blog/index.html.twig' %}
{% block content %}
        <p>{{ article.ShortDescription }}</p>
        <p>{{ article.LongDescription }}</p>
        <p>{{ article.Category.name }}</p>
        <img src="{{ article.Image}}" alt="Brak obrazka">
        <p>{{ article.CreatedAt|date("m/d/y")}}</p>
        {% block comments %}
                <p>Comments:</p>
                <div>{{ form(comment_form) }}</div>
                {% for comment in article.comments %}
                        <div style="border: solid red">
                                <p>User: {{ comment.author.username }}</p>
                                <p>Title: {{ comment.title }}</p>
                                <p>{{ comment.content }}</p>
                                <p> {{ comment.createdAt|ago }}</p>
                        </div>
                {% endfor %}
        {% endblock %}
{% endblock %}
