{% extends 'blog/index.html.twig' %}
{% block content %}
    {% for article in articlesByCategory %}
        <p>
            <a href="/article/{{ article.Category.name }}/{{ article.ShortDescription }}">{{ article.ShortDescription }}</a>
        </p>
        <p>{{ article.LongDescription }}</p>
        <p>{{ article.Category.name }}</p>
    {% endfor %}
{% endblock %}